body {
    background-color: #c4c4c4;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    background-color: #197aff;
    font-family: Impact, Haettenschweiler, 'Calibri Bold', sans-serif;
    font-size: 26px;
    font-weight: 200;
    padding: 200px
}

.navbar-header{
    width:75%;
    margin-left:75px !important;
}

.navbar-header .navbar-toggle .collapsed {
  float: right;
}

.navbar {
    width: 100%;
    background-color: #ffffff;
}
.content{
    margin-top:100px;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Calibri Bold', sans-serif;
	font-size: 36px;
  font-weight: 200;
  text-align: center;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Calibri Bold', sans-serif;
	font-size: 32px;
  font-weight: 200;
  text-align: center;
}

h3 {
  font-family: Impact, Haettenschweiler, 'Calibri Bold', sans-serif;
 	font-size: 28px;
   font-weight: 200;
  text-align: center;
}

.box {
  color: #fff;
  background: #197aff;
}

.box-left {
  padding: 20px;
}

.box-right {
  padding: 30px;
}

.box-single {
  padding: 50px;
  margin: 70px;
}

#summary {
  margin: 10px;
  font-size: 17px;
  line-height: 1.5em;
}

#city-sample {
	float: left;
	width: 200px;
	height: 200px;
	margin: 10px 20px;
}

#landing-viz {
  padding:15px 15px 15px 15px;
  width: 100%;
  height: 100%;
}

.figure:active{
  border: 5px solid #197aff;
}

.jumbotron {
  color: #fff;
  background: #197aff;
  width: 100%;
  height: 100%;
  padding: 25px
}

.table {
  color: #fff;
  background: #197aff;
  width: 100%;
  height: 100%;
  padding: 15px
}

#viz-main {
  padding: 25px 40px 25px 40px;
  width: 100%;
 }

.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 30px;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
  .row.row-grid [class*="col-xs-"] + [class*="col-xs-"] {
      margin-top: 0;
  }
}
